@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Кнопка для перехода на страницу сборки ПК -->
    <div class="mt-4">
        <a href="@Url.Action("Index", "PcBuilder")" class="btn btn-dark rounded-pill px-4 py-2">Собрать ПК</a>
    </div>
</div>